/**
  Styling shared by both VncConsole and SerialConsole.
*/
// Bootstrap Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Patternfly Core variables and mixins
@import 'patternfly/variables';
@import 'patternfly/bootstrap-mixin-overrides';
@import 'patternfly/mixins';

// Console StyleSheets
@import "serial-console";
@import "vnc-console";
@import "console-selector";

/**
  Styling shared by both VncConsole and SerialConsole.
*/
