.truncate-example-resize {
  width: 320px;
  resize: horizontal;
  overflow: auto;
  min-width: 161px;
  max-width: 100%;
  padding: var(--pf-t--global--spacer--sm);
  border: var(--pf-t--global--border--width--box--default) solid var(--pf-t--global--border--color--default);
}
