/**
  PatternFly React Storybook Included Stylesheets
*/
$font-path:      '~patternfly/dist/fonts/';
$img-path:        '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';

@import 'patternfly';

/**
  Third Party / Dependency LESS imports here
*/
@import 'show-grid';

/**
  Patternfly React Specific Extensions
*/
@import 'patternfly-react';

/**
  patternfly-react-extensions
*/
@import 'patternfly-react-extensions';

/**
  @patternfly/react-console
 */
@import "~xterm/dist/xterm.css";
@import 'console';
