.ws-react-t-control-bar,
.ws-react-t-custom-edges,
.ws-react-t-custom-nodes,
.ws-react-t-getting-started,
.ws-react-t-panzoom,
.ws-react-t-selection,
.ws-react-t-sidebar,
.ws-react-t-toolbar {
  height: 600px;
  border: 1px solid var(--pf-global--palette--black-900);
  padding: 0;
  margin: var(--pf-global--spacer--md);
}

@media (min-width: 768px) {
  .topology-example-sidebar.pf-topology-side-bar.shown {
    max-width: 300px;
  }
}

.pf-theme-dark .ws-react-t-control-bar,
.pf-theme-dark .ws-react-t-custom-edges,
.pf-theme-dark .ws-react-t-custom-nodes,
.pf-theme-dark .ws-react-t-getting-started,
.pf-theme-dark .ws-react-t-panzoom,
.pf-theme-dark .ws-react-t-selection,
.pf-theme-dark .ws-react-t-sidebar,
.pf-theme-dark .ws-react-t-toolbar {
  border: 1px solid var(--pf-global--palette--black-100);
}

.ws-react-t-topology .pf-l-stack {
  margin: -9px;
  width: calc(100% + 18px);
}

.ws-react-t-topology .pf-topology-view__project-toolbar .pf-c-dropdown>button {
  justify-content: space-between;
  width: 150px;
}

.ws-react-t-topology .topology-view-filter-dropdown>button {
  justify-content: space-between;
  width: 130px;
}
