.ws-react-t-baseline,
.ws-react-t-custom-edges,
.ws-react-t-custom-nodes,
.ws-react-t-panzoom,
.ws-react-t-selectable {
  height: 600px;
  border: 1px solid var(--pf-global--palette--black-900);
  padding: 0;
  margin: var(--pf-global--spacer--md);
}

.pf-theme-dark .ws-react-t-topology-view {
  border: 1px solid var(--pf-global--palette--black-100);
}

.ws-react-t-topology .pf-l-stack {
  margin: -9px;
  width: calc(100% + 18px);
}

.ws-react-t-topology .pf-topology-view__project-toolbar .pf-c-dropdown>button {
  justify-content: space-between;
  width: 150px;
}

.ws-react-t-topology .topology-view-filter-dropdown>button {
  justify-content: space-between;
  width: 130px;
}