.compound-label-pf {
  font-size: 0.8em;
  display: table-cell !important;
  vertical-align: middle;

  span {
    background-color: $color-pf-blue-400;
  }
}

.compound-label-pf-text-color {
  color: $color-pf-white;

  .pf-remove-button {
    vertical-align: middle;
  }
}

.category.list-inline {
  background-color: $color-pf-blue-500;
  padding: 3px 10px 3px 15px;
  color: $color-pf-white;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  display: table;
  float: left;

  li a span {
    color: $color-pf-white;
  }
}

.category-label {
  padding-right: 15px;
}
