.expand-collapse-pf {
  .expand-collapse-pf-link-container {
    display: flex;
  }

  .btn.btn-link {
    &:focus {
      outline: none;
    }

    .fa,
    .pficon {
      color: initial;
      font-size: 14px;
      margin-right: 5px;
      width: 10px;
    }
  }

  .expand-collapse-pf-separator {
    flex: 1;
    height: 1px;
    margin-top: 12px;

    &.bordered {
      border-top: 1px solid $color-pf-black-300;
    }
  }
}
