.navbar-default {
  .navbar-nav {
    .dropdown .dropdown-toggle {
      color: $navbar-pf-navbar-utility-color;

      &:hover,
      &:focus {
        color: $navbar-pf-active-color;
        text-decoration: none;
      }

      &:hover {
        background: $navbar-pf-item-hover-bg-color;
        border-left-color: $navbar-pf-navbar-utility-hover-border-color;
        outline: 0;
      }
    }
  }
}
