/**
  Third Party / Dependency imports here
*/
$font-path: '~patternfly/dist/fonts/';
$img-path: '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';

// Bootstrap Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Patternfly Core variables and mixins
@import 'patternfly/variables';
@import 'patternfly/fonts';
@import 'patternfly/bootstrap-mixin-overrides';
@import 'patternfly/mixins';

/**
  Patternfly React Specific Extensions
*/

@import 'patternfly-react/patternfly-react';
@import 'patternfly-react/compound-label';
