.drawer-pf.drawer-alt-pf {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .drawer-pf-title {
    position: relative;
  }

  .panel-group {
    display: flex;
    flex-direction: column;
    position: initial;
    bottom: initial;
    top: initial;
    overflow-y: auto;

    .panel.panel-default.expanded {
      min-height: 175px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }

    .panel-collapse.in {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-height: 0;

      .panel-body {
        flex: 1 1 auto;
        overflow-y: auto;
      }
    }
  }

  .drawer-pf-action {
    flex: none;
  }
}
