{
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "trailingComma": "none" }
    ]
  },
  "extends": [
    "standard",
    "standard-react",
    "standard-jsx",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier", "react"],
  "parser": "babel-eslint"
}
