{
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "all" }]
  },
  "extends": [
    "standard",
    "standard-react",
    "standard-jsx",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "parser": "babel-eslint"
}
