# Javascript builds
node_modules
dist
__tests__
tsc_out
.out
.changelog
.DS_Store
coverage
.cache
.tmp
**/Generated
**/build
css
packages/react-docs/.cache
packages/react-docs/static
packages/react-docs/public

# package managers
yarn-error.log
lerna-debug.log

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.history
.vscode

# IDE - VSCode
.vscode
# For vim
*.swp

# Deploy directory
docs
