node_modules
dist
tsc_out
.out
/.changelog
.DS_Store
coverage
.cache
.tmp
packages/react-icons/src/icons/
packages/react-icons/src/index.js
packages/react-icons/src/index.d.ts
packages/patternfly-4/react-integration/cypress/videos/

# package managers
yarn-error.log
lerna-debug.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Deploy directory
.public
!.public/index.html