language: node_js
dist: xenial
node_js:
  - "8" # Also included in .nvmrc, but this saves a few seconds
cache:
  yarn: false
  directories:
    - node_modules # God help us...
    - packages/patternfly-4/react-core/node_modules # PR docs
    - packages/patternfly-4/react-docs/node_modules # PR docs
    - packages/react-icons/dist
    - packages/react-icons/src/icons/
    - packages/react-icons/src/index.js
    - packages/react-icons/src/index.d.ts
    - packages/patternfly-3/patternfly-react/dist
    - packages/patternfly-3/patternfly-react-extensions/dist
    - packages/patternfly-3/react-console/dist
    - packages/patternfly-4/react-charts/dist
    - packages/patternfly-4/react-core/dist
    - packages/patternfly-4/react-styled-system/dist
    - packages/patternfly-4/react-styles/dist
    - packages/patternfly-4/react-table/dist
    - packages/patternfly-4/react-tokens/dist
    - packages/patternfly-4/react-docs/public # PF4 docs
    - .out # PF3 docs

# Tests will come before build without a `stages` block.
stages:
  - Build
  - Tests
  - name: Deploy
    if: branch = master && type != pull_request && fork = false

install:
  - yarn install --frozen-lockfile
jobs:
  include:
    - stage: Build
      name: Build Dist
      script:
        - yarn build
        - .circleci/clean_cache.sh

    - stage: Tests
      name: (PF4) Jest Tests
      install: skip
      script:
        - yarn test:pf4
        - yarn coveralls
    - name: (PF4) Build PR Docs
      if: branch = master && type != pull_request && fork = false
      install: skip
      script:
        - yarn build:prdocs
        - .circleci/clean_cache.sh
    - name: (PF3) Jest Tests
      install: skip
      script:
        - yarn test:pf3
        - yarn coveralls
    - name: (PF3) Build Storybook
      if: branch = master && type != pull_request && fork = false
      install: skip
      script:
        - yarn build:storybook
        - .circleci/clean_cache.sh
    
    - stage: Deploy
      name: NPM and Github Release
      install: skip
      script: .circleci/release.sh
    - name: Deploy Docs
      if: type = pull_request
      install: skip
      script:
        - cp -r packages/patternfly-4/react-docs/public .public/patternfly-4
        - cp -r packages/patternfly-4/react-docs/public/assets .public/assets
        - cp -r .out .public/patternfly-3
        - yarn run surge --project .public --domain qwerty-patternfly-react.surge.sh;
git:
  depth: 10
branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+$/"
notifications:
  email: false