language: node_js
sudo: required
cache:
  directories:
  - node_modules
env:
  global:
  - ENCRYPTION_LABEL: "b601314e09dc"
  - COMMIT_AUTHOR_EMAIL: "patternfly-build@redhat.com"
  - COMMIT_AUTHOR_USERNAME: "patternfly-build"
  - TRIGGER_REPO_SLUG: "patternfly/patternfly-react"
  - TRIGGER_REPO_BRANCH: "master"
notifications:
  email: false
node_js:
- '7'
- '6'
- '4'
before_script:
- npm prune
script:
- npm run test
after_success:
- npm run semantic-release
- ./release.sh
branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+$/"
