dist: xenial
language: node_js
node_js:
  - "8" # Also included in .nvmrc, but this saves a few seconds
cache:
  yarn: false
  directories:
    - node_modules # God help us...
    - packages/react-icons/node_modules/
    - packages/patternfly-4/react-core/node_modules
    - packages/patternfly-4/react-docs/node_modules
    - packages/patternfly-4/react-charts/node_modules
    - packages/patternfly-4/react-styles/node_modules
    - packages/patternfly-3/patternfly-react/node_modules
    - packages/react-icons/dist
    - packages/react-icons/src/icons
    - packages/react-icons/src/index.d.ts
    - packages/react-icons/src/index.js
    - packages/patternfly-3/patternfly-react-extensions/dist
    - packages/patternfly-3/patternfly-react/dist
    - packages/patternfly-3/react-console/dist
    - packages/patternfly-4/react-charts/dist
    - packages/patternfly-4/react-core/dist
    - packages/patternfly-4/react-styled-system/dist
    - packages/patternfly-4/react-styles/dist
    - packages/patternfly-4/react-table/dist
    - packages/patternfly-4/react-tokens/dist
    - packages/patternfly-4/react-docs/public # To cache PF4 docs
git:
  depth: 10
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/" # Avoid tags
    - "/^chore/bump-.*$/" # Avoid hookbot double-builds
notifications:
  email: false

stages:
  - Build
  - Test
  - name: Deploy
    if: "false" # branch = master && type != pull_request && fork = false

install:
  - yarn install --frozen-lockfile
jobs:
  include:
    - stage: Build
      name: Build Dist
      script:
        - yarn build

    - stage: Test # Nothing can be cached in this stage since steps run in parallel.
      name: (PF4) Jest Tests
      install: skip
      script:
        - yarn test:pf4
        - npx codecov -F patternfly4
    - name: (PF3 and Misc) Jest Tests
      install: skip
      script:
        - yarn test:pf3
        - npx codecov -F patternfly3
        - rm -rf coverage
        - yarn test:misc
        - npx codecov -F patternflymisc
    - name: (PF4) Build Docs
      if: branch = master && type != pull_request && fork = false
      install: skip
      script:
        - yarn build:docs
    - name: Lint and Stylelint
      install: skip
      script:
        - yarn lint || true # Disable linting failing build (for now)
        - yarn lint:style
    
    - stage: Deploy
      name: NPM and Github Release
      install: skip
      script: .circleci/release.sh
    - name: (PF3) Build Storybook and Deploy Docs
      install: skip
      script:
        - yarn build:storybook
        - mv .out .public/patternfly-3
        - mv packages/patternfly-4/react-docs/public .public/patternfly-4
        - cp .public/patternfly-4/favicon* .public
        - cp -r .public/patternfly-4/assets .public/assets
        - .circleci/conditional_upload.sh
