.ws-react-c-topology {
  height: 500px;
}

.ws-react-c-topology .pf-l-stack {
  margin: -9px;
  width: calc(100% + 18px);
}

.ws-react-c-topology .project-toolbar .pf-c-dropdown > button {
  justify-content: space-between;
  width: 150px;
}

.ws-react-c-topology .topology-view-filter-dropdown > button {
  justify-content: space-between;
  width: 130px;
}
