.desktop-viewer-pf {
  .manual-connection-pf {
    > h2 {
      text-align: center;
    }

    > p {
      text-align: center;
    }

    > div {
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }

    dd {
      font-weight: bolder;
    }

    dt {
      font-weight: normal;
    }
  }

  .remote-viewer-pf {
    position: relative;
    top: 15%;

    .expand-collapse-pf {
      margin-top: 1em;
    }

    .remote-viewer-pf-launch {
      text-align: center;
      margin-top: 20px; /* Align with h2 of manual-connection-pf */
    }

    .more-information-pf-install {
      display: inline-flex;

      > b {
        margin-right: 5px;
      }
    }
  }
}
