$catalog-tile-pf-height:                230px;
$catalog-tile-pf-width:                 220px;
$catalog-tile-pf-margin-bottom:         15px;
$vertical-tab-pf-color:                 initial;
$vertical-tab-pf-active-color:          $color-pf-blue-400;
