.ws-preview {
  & > * {
    .sparkline-chart {
      height: 100px;
      width: 400px;
    }

    .sparkline-container {
      margin-left: 50px;
      margin-top: 50px;
      height: 135px;
    }

    .sparkline-overflow {
      & svg {
        overflow: visible;
      }
    }
  }
}
