.ws-react-l-level {
  padding: 9px;
}

.ws-react-l-level .pf-v5-l-level {
  min-height: 160px;
}

.ws-react-l-level .pf-v5-l-level,
.ws-react-l-level .pf-v5-l-level > div {
  padding: 9px;
  border-width: 2px;
  border-style: dashed;
}
