version: 2

# Adapted from https://github.com/circleci/circleci-docs/blob/master/.circleci/config.yml
# I'd love to find docs on this syntax.
references:
  js_deps_paths: &js_deps_paths
  - node_modules/
  - packages/react-charts/node_modules/
  - packages/react-code-editor/node_modules/
  - packages/react-core/node_modules/
  - packages/react-console/node_modules/
  - packages/react-docs/node_modules/
  - packages/react-inline-edit-extension/node_modules/
  - packages/react-integration/demo-app-ts/node_modules/
  - packages/react-integration/node_modules/
  - packages/react-styles/node_modules/
  - packages/react-table/node_modules/
  - packages/react-tokens/node_modules/
  - packages/react-topology/node_modules/
  - packages/react-virtualized-extension/node_modules/
  - packages/react-catalog-view-extension/node_modules/
  - packages/react-codemods/node_modules/
  - packages/react-icons/node_modules/
  - packages/react-log-viewer/node_modules/
  build_cache_paths: &build_cache_paths
  - packages/react-charts/dist/
  - packages/react-code-editor/dist/
  - packages/react-core/dist/
  - packages/react-console/dist/
  - packages/react-inline-edit-extension/dist/
  - packages/react-styles/css/
  - packages/react-styles/dist/
  - packages/react-table/dist/
  - packages/react-tokens/dist/
  - packages/react-topology/dist/
  - packages/react-virtualized-extension/dist/
  - packages/react-catalog-view-extension/dist/
  - packages/react-icons/dist/
  - packages/react-log-viewer/dist/
  webpack_cache_paths: &webpack_cache_paths
  - packages/react-docs/.cache
  lint_cache_paths: &lint_cache_paths
  - .eslintcache
  js_deps_cache_key: &js_deps_cache_key
    js-deps-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  cypress_cache_key: &cypress_cache_key
    cypress-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  webpack_cache_key: &webpack_cache_key
    webpack-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  build_cache_key: &build_cache_key
    build-cache-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  lint_cache_key: &lint_cache_key
    lint-cache-v{{.Environment.CACHE_VERSION}}-{{checksum "package.json"}}
  attach_workspace: &attach_workspace
    attach_workspace:
      at: ~/project
workflows:
  version: 2
  build_test_deploy:
    jobs:
    - build_pf4
    - build_docs_pf4:
        requires:
        - build_pf4
    - test_jest_pf4:
        requires:
        - build_pf4
    - lint_pf4:
        requires:
        - build_pf4
    - build_demo_app:
        requires:
        - build_pf4
    - test_integration:
        requires:
        - build_demo_app
    - test_a11y_pf4:
        requires:
        - build_docs_pf4
    - deploy_prerelease:
        requires:
        - lint_pf4
        - test_jest_pf4
        - test_integration
        - build_docs_pf4
        filters:
          branches:
            only: master
jobs:
  build_pf4:
    docker:
    - image: circleci/node:12
    steps:
    - checkout
    - persist_to_workspace:
        root: ~/project
        paths:
          - "*"
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Conditional install
        command: if [ ! -d node_modules ]; then yarn install --frozen-lockfile; fi
    - save_cache:
        paths: *js_deps_paths
        key: *js_deps_cache_key
    - save_cache:
        paths:
          - ~/.cache/Cypress
        key: *cypress_cache_key
    - restore_cache:
        keys:
        - *build_cache_key
    - run:
        name: Build Dist
        command: yarn build && yarn build:umd
    - save_cache:
        paths: *build_cache_paths
        key: *build_cache_key
    - persist_to_workspace:
        root: ~/project
        paths: *build_cache_paths
  test_jest_pf4:
    docker:
    - image: circleci/node:12
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: PF4 Jest Tests
        command: yarn test --maxWorkers=2
  build_demo_app:
    docker:
    - image: circleci/node:12
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Build React demo-app
        command: yarn build:integration
    - persist_to_workspace:
        root: ~/project
        paths:
          - packages/react-integration/demo-app-ts/public/
  test_integration:
    docker:
    - image: circleci/node:12
    parallelism: 3
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - restore_cache:
        keys:
        - *cypress_cache_key
    - run:
        name: Install Cypress deps
        command: sudo apt-get install libnss3 libgtk-3-0 libxss1 libasound2
    - run:
        name: Serve React demo-app
        command: yarn serve:integration
        background: true
    - run:
        name: Sleep to wait for xvfb
        command: sleep 5
    - run:
        name: Run Cypress Integration Tests
        command: |
            cd packages/react-integration &&
            yarn test:integration -s $(circleci tests glob "cypress/integration/*.spec.ts" | circleci tests split --split-by=timings)
    - store_artifacts:
        path: packages/react-integration/results
  lint_pf4:
    docker:
    - image: circleci/node:12
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - restore_cache:
        keys:
        - *lint_cache_key
    - run:
        name: ESLint
        command: yarn lint:ts
    - run:
        name: MDLint
        command: yarn lint:md
    - save_cache:
        paths: *lint_cache_paths
        key: *lint_cache_key
    - run:
        name: "@patternfly/patternfly Versions Match"
        command: yarn lint:versions
        when: always
    - run:
        name: Breaking Change Lint
        # https://github.com/angular/angular/blob/master/CONTRIBUTING.md#commit
        command: |
            if git log origin/master..HEAD --format="%b" | grep -i "breaking change";
            then
                echo "Breaking change above detected"
                exit 1
            fi
        when: always
  build_docs_pf4:
    docker:
    - image: circleci/node:12
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - restore_cache:
        keys:
        - *webpack_cache_key
    - run:
        name: Build patternfly-react docs
        command: yarn build:docs
    - save_cache:
        paths: *webpack_cache_paths
        key: *webpack_cache_key
    - run:
        name: Upload docs to surge.sh
        command: node .circleci/upload-preview.js packages/react-docs/public
    - persist_to_workspace:
        root: ~/project
        paths:
        - packages/react-docs/public
        - packages/react-docs/src/generated
  test_a11y_pf4:
    docker:
    - image: circleci/node:12-browsers
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Serve docs
        command: yarn serve:docs
        background: true
    - run:
        name: PF4 a11y tests
        command: yarn test:a11y
    - run:
        name: Upload a11y report
        command: node .circleci/upload-preview.js packages/react-docs/coverage/dist
        when: always
  deploy_prerelease:
    docker:
    - image: circleci/node:12
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Avoid Unknown Host for github.com
        command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
    - run:
        name: Deploy to NPM and Github
        command: if [[ -z $CIRCLE_PULL_REQUEST ]]; then .circleci/release.sh; fi;
