version: 2

# Adapted from https://github.com/circleci/circleci-docs/blob/master/.circleci/config.yml
# I'd love to find docs on this syntax.
references:
  js_deps_paths: &js_deps_paths
  - node_modules/
  - packages/patternfly-3/patternfly-react-extensions/node_modules/
  - packages/patternfly-3/patternfly-react-wooden-tree/node_modules/
  - packages/patternfly-3/patternfly-react/node_modules/
  - packages/patternfly-3/react-console/node_modules/
  - packages/patternfly-4/react-charts/node_modules/
  - packages/patternfly-4/react-core/node_modules/
  - packages/patternfly-4/react-docs/node_modules/
  - packages/patternfly-4/react-docs/plugins/gatsby-transformer-react-docgen-typescript/node_modules/
  - packages/patternfly-4/react-inline-edit-extension/node_modules/
  - packages/patternfly-4/react-integration/demo-app-ts/node_modules/
  - packages/patternfly-4/react-integration/node_modules/
  - packages/patternfly-4/react-styled-system/node_modules/
  - packages/patternfly-4/react-styles/node_modules/
  - packages/patternfly-4/react-table/node_modules/
  - packages/patternfly-4/react-tokens/node_modules/
  - packages/patternfly-4/react-topology/node_modules/
  - packages/patternfly-4/react-virtualized-extension/node_modules/
  - packages/patternfly-4/react-catalog-view-extension/node_modules/
  - packages/react-codemods/node_modules/
  - packages/react-icons/node_modules/
  build_cache_paths: &build_cache_paths
  - .cache/
  - packages/patternfly-3/patternfly-react-extensions/dist/
  - packages/patternfly-3/patternfly-react-wooden-tree/dist/
  - packages/patternfly-3/patternfly-react/dist/
  - packages/patternfly-3/react-console/dist/
  - packages/patternfly-4/react-charts/dist/
  - packages/patternfly-4/react-core/dist/
  - packages/patternfly-4/react-inline-edit-extension/dist/
  - packages/patternfly-4/react-styled-system/dist/
  - packages/patternfly-4/react-styles/css/
  - packages/patternfly-4/react-styles/dist/
  - packages/patternfly-4/react-table/dist/
  - packages/patternfly-4/react-tokens/dist/
  - packages/patternfly-4/react-topology/dist/
  - packages/patternfly-4/react-virtualized-extension/dist/
  - packages/patternfly-4/react-catalog-view-extension/dist/
  - packages/react-icons/dist/
  gatsby_cache_paths: &gatsby_cache_paths
  - packages/patternfly-4/react-docs/.cache
  - packages/patternfly-4/react-docs/public
  js_deps_cache_key: &js_deps_cache_key
    js-deps-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  cypress_cache_key: &cypress_cache_key
    cypress-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  gatsby_cache_key: &gatsby_cache_key
    gatsby-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  build_cache_key: &build_cache_key
    build-cache-v{{.Environment.CACHE_VERSION}}-{{checksum "yarn.lock"}}
  attach_workspace: &attach_workspace
    attach_workspace:
      at: ~/project
workflows:
  version: 2
  build_test_deploy:
    jobs:
    - build
    - build_pf3_docs:
        requires:
        - build
    - build_pf4_docs:
        requires:
        - build
    - test_jest_other:
        requires:
        - build
    - test_jest_pf4:
        requires:
        - build
    - lint:
        requires:
        - build
    - build_demo_app:
        requires:
        - build
    - test_integration:
        requires:
        - build_demo_app
    - test_a11y_pf4:
        requires:
        - build_pf4_docs
    - deploy_prerelease:
        requires:
        - test_jest_pf4
        - test_jest_other
        - test_integration
        - build_pf3_docs
        - build_pf4_docs
        filters:
          branches:
            only: master
jobs:
  build:
    docker:
    - image: circleci/node:10
    resource_class: xlarge
    steps:
    - checkout
    - persist_to_workspace:
        root: ~/project
        paths:
          - "*"
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Conditional install
        command: if [ ! -d node_modules ]; then yarn install --frozen-lockfile; fi
    - save_cache:
        paths: *js_deps_paths
        key: *js_deps_cache_key
    - save_cache:
        paths:
          - ~/.cache/Cypress
        key: *cypress_cache_key
    - restore_cache:
        keys:
        - *build_cache_key
    - run:
        name: Build Dist
        command: yarn build
    - save_cache:
        paths: *build_cache_paths
        key: *build_cache_key
    - persist_to_workspace:
        root: ~/project
        paths: *build_cache_paths
  test_jest_pf4:
    docker:
    - image: circleci/node:10
    resource_class: xlarge
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: PF4 Jest Tests
        command: yarn test:pf4 --maxWorkers=4
    - run:
        name: Upload results to codecov
        command: yarn run codecov -F patternfly4
        when: always
  test_jest_other:
    docker:
    - image: circleci/node:10
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: PF3 Jest Tests
        command: yarn test:pf3 --maxWorkers=2
    - run:
        name: Upload results to codecov
        command: yarn run codecov -F patternfly3
        when: always
    - run:
        name: Clear Coverage
        command: rm -rf coverage
        when: always
    - run:
        name: Other Tests
        command: yarn test:misc --maxWorkers=2
        when: always
    - run:
        name: Upload results to codecov
        command: yarn run codecov -F misc
        when: always
  build_demo_app:
    docker:
    - image: circleci/node:10
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Build React demo-app
        command: yarn build:integration
    - persist_to_workspace:
        root: ~/project
        paths:
          - packages/patternfly-4/react-integration/demo-app-ts/build/
  test_integration:
    docker:
    - image: circleci/node:10
    resource_class: xlarge
    parallelism: 2
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - restore_cache:
        keys:
        - *cypress_cache_key
    - run:
        name: Install Cypress deps
        command: sudo apt-get install libnss3 libgtk-3-0 libxss1 libasound2 xvfb
    - run:
        name: Serve React demo-app
        command: yarn serve:integration
        background: true
    - run:
        name: Run Cypress Integration Tests
        command: |
            cd packages/patternfly-4/react-integration &&
            yarn test:integration -s $(circleci tests glob "cypress/integration/*.spec.ts" | circleci tests split --split-by=timings)
    - run:
        name: Upload results to codecov
        command: yarn run codecov -f packages/patternfly-4/react-integration/results/merged-test-results.xml -F patternfly4integration
        when: always
    - run: 
        name: Create HTML file of Cypress coverage
        command: yarn build:integration:report
        when: always
    - run:
        name: Upload report
        command: node .circleci/upload-preview.js packages/patternfly-4/react-integration/results
        when: always
    - store_artifacts:
        path: packages/patternfly-4/react-integration/results
  lint:
    docker:
    - image: circleci/node:10
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: TSLint
        command: yarn lint:ts || true
    - run:
        name: "@patternfly/patternfly Versions Match"
        command: yarn lint:versions
    - run:
        name: StyleLint
        command: yarn lint:style
    - run:
        name: Breaking Change Lint
        # https://github.com/angular/angular/blob/master/CONTRIBUTING.md#commit
        command: |
            if git log origin/master..HEAD --format="%b" | grep -i "breaking change";
            then
                echo "Breaking change above detected"
                exit 1
            fi
  build_pf3_docs:
    docker:
    - image: circleci/node:10
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Build PF3 Storybook Static Site
        command: yarn build:storybook
    - run:
        name: Upload docs to surge.sh
        command: node .circleci/upload-preview.js .out
  build_pf4_docs:
    docker:
    - image: circleci/node:10
    resource_class: xlarge
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - restore_cache:
        keys:
        - *gatsby_cache_key
    - run:
        name: Build patternfly-react docs
        command: yarn build:docs
    - save_cache:
        paths: *gatsby_cache_paths
        key: *gatsby_cache_key
    - run:
        name: Upload docs to surge.sh
        command: node .circleci/upload-preview.js packages/patternfly-4/react-docs/public
    - persist_to_workspace:
        root: ~/project
        paths: *gatsby_cache_paths
  test_a11y_pf4:
    docker:
    - image: circleci/node:10-browsers
    resource_class: large
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Serve docs
        command: yarn serve:docs
        background: true
    - run:
        name: PF4 a11y tests
        command: yarn test:a11y
    - run:
        name: Upload a11y report
        command: node .circleci/upload-preview.js packages/patternfly-4/react-docs/coverage
        when: always
    - store_artifacts:
        path: packages/patternfly-4/react-docs/coverage/
  deploy_prerelease:
    docker:
    - image: circleci/node:10
    steps:
    - *attach_workspace
    - restore_cache:
        keys:
        - *js_deps_cache_key
    - run:
        name: Avoid Unknown Host for github.com
        command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
    - run:
        name: Deploy to NPM and Github
        command: .circleci/release.sh
