version: 2
jobs:
  build:
    branches:
        ignore:
          - master
    docker:
      - image: circleci/node:8.15
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_VERSION }}-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Conditional install
          command: if [ ! -d node_modules ]; then yarn install --frozen-lockfile; fi
      - save_cache:
          paths:
            - node_modules
            - packages/react-icons/node_modules/
            - packages/patternfly-4/react-core/node_modules
            - packages/patternfly-4/react-docs/node_modules
            - packages/patternfly-4/react-charts/node_modules
            - packages/patternfly-4/react-styles/node_modules
            - packages/patternfly-3/patternfly-react/node_modules
          key: v{{ .Environment.CACHE_VERSION }}-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build Dist
          command: yarn build
      - run:
          name: (PF3) Build Storybook
          command: |
            yarn build:storybook &&
            cp -r .out .public/patternfly-3
      - run:
          name: (PF4) Build Docs
          command: |
            yarn build:docs &&
            cp -r packages/patternfly-4/react-docs/public .public/patternfly-4 &&
            cp -r .public/patternfly-4/assets .public/assets &&
            cp .public/patternfly-4/favicon* .public
          no_output_timeout: 30m
      - run:
          name: Deploy Docs
          command: if [ -n "$CIRCLE_PULL_REQUEST" ]; then .circleci/upload_preview.sh; fi
