.ws-react-c-catalogitemheader .text-overflow-pf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.ws-react-c-catalogitemheader .catalog-item-header-pf {
  display: flex;
  align-items: center;
}
.ws-react-c-catalogitemheader .catalog-item-header-pf-icon {
  font-size: 60px;
  max-height: 60px;
  width: 60px;
}
.ws-react-c-catalogitemheader .catalog-item-header-pf-text {
  margin-left: 20px;
}
.ws-react-c-catalogitemheader .catalog-item-header-pf-title {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.ws-react-c-catalogitemheader .catalog-item-header-pf-subtitle {
  color: #8b8d8f;
  font-size: small;
  margin-bottom: 0;
}