.ws-preview {
  & > * {
    .area-chart-legend-bottom {
      height: 225px;
      width: 650px;
    }

    .area-chart-legend-bottom-responsive {
      height: 225px;
    }

    .area-chart-legend-right {
      height: 200px;
      width: 800px;
    }

    .sparkline-chart {
      height: 75px;
      width: 400px;
    }

    .sparkline-container {
      margin-left: 50px;
      margin-top: 50px;
      height: 135px;
      & svg {
        overflow: visible;
      }
    }
  }
}
