.card-pf-match-height {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .card-pf-heading {
    margin: 0 -20px;

    .card-pf-time-frame-filter {
      margin-top: 15px;
    }
  }
}

.card-pf-body {
  flex: 1;
}
