.import-file-pf {
  width: auto;
  height: 250px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;

  .import-file-text-pf {
    .btn {
      vertical-align: baseline;
    }

    text-align: center;
    position: relative;
    width: 95%;
    margin: 0 auto;

    h5 {
      color: gray;
      font-size: 10px;
    }
  }
}

.max-amount {
  margin-top: 50px;
}

.import-file-active-pf {
  width: auto;
  height: 250px;
  border-width: 2px;
  border-color: #0088ce;
  border-style: dashed;
  border-radius: 5px;

  .import-file-active-text-pf {
    text-align: center;
    position: relative;
    width: 95%;
    margin: 0 auto;
    color: #0088ce;
  }
}

.import-file-accept-text-pf {
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  color: #0088ce;
}

.import-file-reject-text-pf {
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  color: #ce0000;
}
