.import-file-pf {
  width: auto;
  height: 250px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  .import-file-text-pf {
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.import-file-active-pf {
  width: auto;
  height: 250px;
  border-width: 2px;
  border-color: #0088ce;
  border-style: dashed;
  border-radius: 5px;
}

.import-file-active-text-pf {
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0088ce;
}

.import-file-reject-text-pf {
  text-align: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ce0000;
}
.import-file-accept-text-pf {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
