.treeview2 {
  span.indent {
    margin-left: 10px;
    margin-right: 10px;
  }

  span.icon {
    margin-right: 5px;
  }
}
// .treeview .node-disabled {
//   color: silver;
//   cursor: not-allowed;
// }
// .node-treeview1 {
//   border: none;
// }
// .node-treeview1:not(.node-disabled):hover {
//   background-color: #f5f5f5;
// }
// .node-treeview1.node-result {
//   color: #d9534f;
// }
// .node-treeview1.node-result:hover {
//   color: #d9534f;
// }
// .node-treeview1.node-selected {
//   color: #ffffff;
//   background-color: #428bca;
// }
// .node-treeview1.node-selected:hover {
//   color: #ffffff;
//   background-color: #428bca;
// }
