.utilization-bar-pf {
  .label-strong {
    font-weight: 600;
  }

  .display-inline-block {
    display: inline-block;
  }

  .label-text.progress-label-right,
  .label-text.progress-label-top-right,
  .label-text.progress-description {
    font-size: 12px;
    color: black;
  }
}
