.ws-preview {
  & > * {
    .donut-threshold-chart-horz {
      height: 230px;
      width: 492px;
    }

    .donut-threshold-chart-horz-sm {
      height: 230px;
      width: 475px;
    }

    .donut-threshold-chart-vert {
      height: 325px;
      width: 275px;
    }

    .donut-utilization-chart {
      height: 230px;
      width: 230px;
    }

    .donut-utilization-chart-horz {
      height: 230px;
      width: 435px;
    }

    .donut-utilization-chart-horz-sm {
      height: 230px;
      width: 425px;
    }

    .donut-utilization-chart-vert {
      height: 275px;
      width: 300px;
    }
  }
}
