.ws-preview {
  & > * {
    .donut-threshold-chart {
      height: 230px;
      width: 230px;
    }

    .donut-threshold-chart-sm {
      height: 175px;
      width: 175px;
    }

    .donut-threshold-chart-legend-bottom-horz {
      height: 275px;
      width: 675px;
    }

    .donut-threshold-chart-legend-bottom-vert {
      height: 350px;
      width: 230px;
    }

    .donut-threshold-chart-legend-right {
      height: 230px;
      width: 500px;
    }

    .donut-threshold-chart-legend-right-sm {
      height: 175px;
      width: 425px;
    }

    .donut-threshold-chart-legend-right-subtitle-bottom-sm {
      height: 200px;
      width: 425px;
    }

    .donut-threshold-chart-legend-bottom-subtitle-right-sm {
      height: 225px;
      width: 675px;
    }

    .donut-utilization-chart {
      height: 230px;
      width: 230px;
    }

    .donut-utilization-chart-sm {
      height: 150px;
      width: 150px;
    }

    .donut-utilization-chart-legend-bottom-horz {
      height: 275px;
      width: 300px;
    }

    .donut-utilization-chart-legend-bottom-vert {
      height: 300px;
      width: 230px;
    }

    .donut-utilization-chart-legend-right {
      height: 230px;
      width: 435px;
    }

    .donut-utilization-chart-legend-right-sm {
      height: 150px;
      width: 350px;
    }

    .donut-utilization-chart-legend-bottom-subtitle-right-sm {
      height: 200px;
      width: 350px;
    }

    .donut-utilization-chart-legend-right-subtitle-bottom-sm {
      height: 175px;
      width: 350px;
    }
  }
}
