/**
  SerialConsole styles
*/

.serial-console-pf {
  height: 100%;

  .toolbar-pf-results {
    padding: 15px 0;
    border-top: none;
    margin-top: 0;
  }

  .console-pf {
    font-family: $font-family-monospace;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: normal;
    height: 100%;

    .terminal {
      color: $color-pf-white;
      text-align: left;
      outline: medium none;
      background-color: $color-pf-black;
      border: 1px solid $color-pf-black;
      padding: 10px;

      .terminal-cursor {
        border: 1px solid $color-pf-white;
      }
    }

    .terminal:focus .terminal-cursor {
      border: none;
      animation: blink 1s step-end infinite;
    }
  }

  .console-terminal-pf {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .console-actions-buttons-pf {
    margin-left: 5px;
  }

  @keyframes blink {
    from {
      color: $color-pf-black;
      background: $color-pf-white;
    }

    50% {
      color: $color-pf-white;
      background: $color-pf-black;
    }
  }
}
