.topology-context-sub-menu {
  position: relative;
  padding-right: var(--pf-global--spacer--lg);

  &__arrow {
    position: absolute;
    right: var(--pf-global--spacer--xs);
    top: 50%;
    transform: translateY(-50%);
  }
}
