.card-pf-match-height[style*='height'] {
  .card-pf-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.cards-pf .blank-slate-pf {
  background: none;
  border: none;
  padding: @jumbotron-padding;

  .blank-slate-pf-icon {
    color: @color-pf-black-300;
  }
}
