.ws-preview {
  & .pf-l-bullseye {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }

  & .pf-l-bullseye > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }
}
