.ws-preview {
  & .layout-example {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }

  & .layout-example  > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }
}
