.ws-preview {
  & .pf-l-toolbar {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }

  & .pf-l-toolbar > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
  }
}
