.catalog-item-header-pf {
  display: flex;
  align-items: center;
}

.catalog-item-header-pf-icon {
  font-size: 60px;
  max-height: 60px;
  width: 60px;
}

.catalog-item-header-pf-text {
  margin-left: 20px;
}

.catalog-item-header-pf-title {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.catalog-item-header-pf-subtitle {
  color: $color-pf-black-500;
  margin-bottom: 0;
}
