.catalog-tile-pf {
  background: $card-pf-bg-color;
  border: 1px solid rgba(209, 209, 209, 0.75);
  color: inherit;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: $catalog-tile-pf-height;
  margin: 0 15px $catalog-tile-pf-margin-bottom 0;
  padding: 15px;
  position: relative;
  width: $catalog-tile-pf-width;

  &.featured {
    border-top-color: $card-pf-accented-border-top-color;
    border-top-width: 2px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 10px rgba(3, 3, 3, 0.175);
    outline-style: none;
  }

  &:active,
  &:hover,
  &:focus,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

.catalog-tile-pf-header {
  display: flex;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
}

.catalog-tile-pf-icon {
  font-size: 40px;
  height: 40px;
  max-width: 80px;
  min-width: 40px;
}

.catalog-tile-pf-badge-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .catalog-tile-pf-badge {
    font-size: 16px;
    padding-left: 5px;

    > .fa,
    > .pficon {
      vertical-align: top;
    }
  }
}

.catalog-tile-pf-body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 0;

  .catalog-tile-pf-title {
    font-size: ($font-size-base + 1);
    font-weight: 400;
  }

  .catalog-tile-pf-subtitle {
    color: $color-pf-black-500;
    font-size: $font-size-base;
  }

  .catalog-tile-pf-description {
    flex: 1;
    margin-top: 15px;
    overflow: hidden;

    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      bottom: 20px;
      content: "";
      height: 25px;
      position: absolute;
      right: 15px;
      width: 20%;
      text-align: right;
    }
  }
}

.catalog-tile-view-pf-category {
  margin: 10px 0 15px;
}

.catalog-tile-view-pf-category-header {
  padding-right: 15px;
}

.catalog-tile-view-pf-category-header-title {
  font-size: 14px;
}

.catalog-tile-view-pf-category-view-all {
  font-size: 12px;
  margin-top: 2px;
  padding: 0;

  &:hover,
  &:focus {
    outline: 0;
  }
}

.catalog-tile-view-pf-category-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
