.filter-panel-pf {
  margin: 0 0 30px;
  padding: 0 15px;
}

.filter-panel-pf-category {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }
}

.filter-panel-pf-category-title {
  border: 0;
  color: $color-pf-black-500;
  font-size: inherit;
  margin: 0;
  text-transform: uppercase;
}

.filter-panel-pf-category-items {
  margin-top: 0;
  margin-bottom: 0;

  .btn.btn-link {
    padding: 0;
  }
}

.filter-panel-pf-category-item {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 5px;

  &:first-of-type {
    margin-top: 0;
  }

  .checkbox {
    margin: 0;
  }

  .item-icon {
    padding-right: 3px;
  }

  .item-count {
    padding-left: 3px;
  }
}
