/**
  Patternfly React Extensions Partials
*/
@import 'variables';
@import 'badged-resource';
@import 'catalog-item';
@import 'catalog-tile';
@import 'filter-side-panel';
@import 'properties-side-panel';
@import 'table-grid';
@import 'vertical-tabs';
