.vertical-tabs-pf {
  padding: 0;
  list-style: none;
}

.vertical-tabs-pf-tab {
  margin-top: 4px;
  position: relative;

  .btn.btn-link {
    color: $vertical-tab-pf-color;
    font-size: 13px;
    padding-left: 15px;

    &:hover,
    &:focus {
      color: $vertical-tab-pf-active-color;
      outline: 0;
      text-decoration: none;
    }
  }

  &.active {
    > .btn.btn-link {
      color: $vertical-tab-pf-active-color;

      &::before {
        background: $vertical-tab-pf-active-color;
        content: "\00a0"; // &nbsp;
        left: 0;
        position: absolute;
        width: 3px;
      }
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  > .vertical-tabs-pf {
    > .vertical-tabs-pf-tab {
      position: initial;
      padding-left: 15px;
    }
  }
}

.vertical-tabs-pf.restrict-tabs {
  .vertical-tabs-pf-tab {
    display: none;

    /* Show any active tab, tab that has an active descendant, or is force shown */
    &.active,
    &.active-descendant,
    &.shown {
      display: block;
    }
  }

  /* Show siblings of the active tab */
  &.active-tab {
    > .vertical-tabs-pf-tab {
      display: block;
    }
  }

  /* Show the direct children of an active tab */
  .vertical-tabs-pf-tab.active {
    > .vertical-tabs-pf {
      > .vertical-tabs-pf-tab {
        display: block;
      }
    }
  }
}
