.ws-preview {
  & > * {
    .line-chart-container {
      width: 450px;
    }

    .line-chart-inline {
      display: inline-flex;
    }

    .line-chart-overflow {
      & svg {
        overflow: visible;
      }
    }
  }
}
