.ws-preview {
  & > * {
    .line-chart-legend-bottom {
      height: 275px;
      width: 450px;
    }

    .line-chart-legend-bottom-responsive {
      height: 275px;
    }

    .line-chart-legend-right {
      height: 250px;
      width: 600px;
    }
  }
}
