.pf-v5-c-console {
  display: grid;
  grid-template-areas:
    'actions-main actions-extra'
    'main main';
  row-gap: var(--pf-v5-global--spacer--md);
}
.pf-v5-c-console__actions {
  grid-area: actions-main;
  display: flex;
}
.pf-v5-c-console__actions > div {
  margin-right: var(--pf-v5-global--spacer--sm);
}
