.pf-v5-c-console__serial {
  grid-area: main;
}
.pf-v5-c-console__actions-serial {
  grid-area: actions-extra;
  display: flex;
  justify-content: flex-end;
}
.pf-v5-c-console__actions-serial > button {
  margin-right: var(--pf-v5-global--spacer--sm);
}
