.ws-preview {
  & > * {
    .donut-chart-container {
      height: 300px;
      width: 300px;
    }

    .donut-chart-inline {
      display: inline-flex;
    }

    .donut-chart-label {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
