.pf-v6-c-backdrop-animated {
    background-color: transparent;
    visibility: hidden;
    pointer-events: none;
    transition:
    background-color 240ms cubic-bezier(0.4, 0.14, 1, 1), /* Carbon equivalent: duration-moderate-02 + motion(exit, expressive) */
    visibility 0ms linear 240ms; /* Carbon equivalent: duration-moderate-02 */
}

.pf-v6-c-backdrop-animated-visible {
    background-color: var(--pf-v6-c-backdrop--BackgroundColor);
    visibility: visible;
    pointer-events: unset;
    transition:
    background-color 240ms cubic-bezier(0, 0, 0.2, 1),
    visibility 0ms linear 0ms;
}

.pf-v6-c-backdrop-animated-hidden {
    background-color: transparent;
    visibility: hidden;
    pointer-events: none;
}

/* TODO [Gustavo]: My local setup has reduced animations at the OS level which kicks this media query on.
     Chrome doesn't have an easy way to FORCE animations on in this case so commenting this out for now.
     It should be enabled if PR is merged in. */
/* *
@media screen and (prefers-reduced-motion: reduce) {
    .pf-v6-c-backdrop-animated,
    .pf-v6-c-backdrop-animated-visible,
    .pf-v6-c-backdrop-animated-hidden {
        transition: none;
    }
}
/* */
