
.ins-c-logger {
    --ins-c-logger--BackgroundColor: var(--pf-global--BackgroundColor--100);
    --ins-c-logger--BorderColor: var(--pf-global--palette--black-100);
    --ins-c-logger--spacer-xs: var(--pf-global--spacer--xs);
    --ins-c-logger--spacer-sm: var(--pf-global--spacer--sm);
    --ins-c-logger--spacer-md: var(--pf-global--spacer--md);
    --ins-c-logger--spacer-lg: var(--pf-global--spacer--lg);
    --ins-c-logger--spacer-xl: var(--pf-global--spacer--xl);
    --ins-c-logger--spacer-2xl: var(--pf-global--spacer--2xl);
    --ins-c-logger--global-spacer: var(--pf-global--spacer--lg);
    --ins-c-logger--border-dark-color: var(--pf-global--Color--100);
    --ins-c-logger--border-color: var(--pf-global--palette--black-200);

    /* Dimensions for logger elements */
    --ins-c-logger--row-height: 60px;
    --ins-c-logger--row-index-width: 48px;
    --ins-c-logger--row-data-width: 100%;
    --ins-c-logger--root-width: 1200px;
    --ins-c-logger--pinned-row-color: var(--pf-global--palette--gold-50);
    --ins-c-logger--action-row-color: var(--pf-global--palette--white);
    --ins-c-logger--index-column-background-color: var(--pf-global--palette--black-300);
    --ins-c-logger--index-font-color: var(--pf-global--Color--200);
    --ins-c-logger--data-font-color: var(--pf-global--Color--100);
    --ins-c-logger--root-font-color: white;
    --ins-c-logger--root-font-color-dark: black; 
    --ins-c-logger--sm-font-size: var(--pf-global--FontSize--sm);
    --ins-c-logger--md-font-size: var(--pf-global--FontSize--md);
    --ins-c-logger--toolbar-background-color: var(--pf-global--BackgroundColor--100);
    --ins-c-logger--root-background-color: var(--pf-global--palette--black-100);
    --ins-c-logger--hover-row-color: var(--pf-global--palette--blue-50);
    --ins-c-logger--ins-c-logger--active-row-color: var(--pf-global--active-color--200);
    --ins-c-logger--background-color: var(--pf-global--palette--black-150);
    --ins-c-logger--index-BorderColor: var(--pf-global--palette--black-200);
    --ins-c-logger--index-BackgroundColor: var(--pf-global--BackgroundColor--100);
    --ins-c-logger--toolbar-BackgroundColor: var(--pf-global--palette--black-300);
    --ins-c-logger--toolbar-BorderColor: var(--pf-global--palette--black-200);
    --ins-c-logger--toolbar-color: var(--pf-global--palette--black-100);
    --ins-c-logger--toolbar-icon-action-color: var(--pf-global--info-color--200);
    --ins-c-logger--toolbar-font-ActionColor: var(--pf-global--BackgroundColor--100);
}
.ins-c-logger-root {
  background: var(--ins-c-logger--BackgroundColor);
  width: 1200px;
  border-bottom: 1px solid var(--ins-c-logger--index-BorderColor);
}
.logger-container {
  border: none;
}





