.logger__toolbar{
  border: 1px solid var(--ins-c-logger--toolbar-BorderColor);
  border-bottom: 0px;
}

.logger__toolbar--hasSearchbar {
  height: 200px;
}

.logger__toolbar--icons {
  padding: 6px 16px !important;
}

.toolbar__searchbar {
    width: 500px;
}

.searchbar__btn {
    width: 44px;
    height: 36px;
} 

