.logger__header {
    /* because this is optional, we give the toolbar below the other border */
    border-top: 1px solid var(--ins-c-logger--border-color);
    border-left: 1px solid var(--ins-c-logger--border-color);
    border-right: 1px solid var(--ins-c-logger--border-color);
    padding: 8px 16px;
    display: flex;
}

.logger__header--search {
        padding-left: 8px; 
        width: 250px;
    }

.ins-header__btn {
    width: 40px;
    height: 36px;
}

/* .ins-logger-header__search {
  padding-left: 8px; 
  width: 250px;
} */