.ws-preview {
  & > * {
    .tooltip-bar-chart-legend-bottom {
      height: 275px;
      width: 450px;
    }

    .tooltip-bar-chart-legend-right {
      height: 250px;
      width: 600px;
    }

    .tooltip-line-chart-legend-right {
      height: 250px;
      width: 600px;
    }

    .tooltip-donut-threshold-chart {
      height: 285px;
      width: 230px;
      text-align: center;
    }

    .tooltip-pie-chart-legend-bottom {
      height: 275px;
      width: 300px;
    }

    .tooltip-sparkline-chart {
      height: 100px;
      width: 400px;
    }

    .tooltip-sparkline-container {
      margin-left: 50px;
      margin-top: 50px;
      height: 135px;
    }

    .tooltip-sparkline-overflow {
      & svg {
        overflow: visible;
      }
    }
  }
}
