.compound-label-pf {
  background-color: $color-pf-blue-500;
  padding-left: 15px;
  padding-right: 15px;
  color: $color-pf-white;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0.5em;
  // for wrapping:
  white-space: normal;
  text-align: left;

  .label {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
  }

  .list-inline {
    display: inline-block;
    margin-bottom: 0;

    & > li {
      margin-top: 0.1em; // added for case when wrapping
      margin-bottom: 0.1em; // added for case when wrapping
    }
  }
}

.category-label-pf {
  padding-right: 15px;
  vertical-align: text-bottom;
}

.compound-label-inner-color-pf {
  background-color: $color-pf-blue-400;
}
