@import '~react-bootstrap-typeahead/css/Typeahead.css';

.rbt-input-main {
  padding: 2px 6px;
}

.rbt-input-multi {
  height: fit-content;
}

.rbt-menu.dropdown-menu {
  &.show {
    margin: 0;
  }

  .dropdown-item.disabled {
    color: $color-pf-black-600;
  }
}

.rbt-token {
  margin-right: 6px;
  border-radius: 5px;

  &.rbt-token-removeable {
    background-color: $color-pf-black-200;
    height: 20px;
    font-size: 12px;
    color: #363636;
  }

  .rbt-token-remove-button {
    color: #363636;
    font-size: 10px;
    padding: 0 6px;
    top: 0;
  }

  .rbt-input-multi {
    &.rbt-input-wrapper {
      margin-bottom: -3px;
    }

    &.rbt-input {
      height: auto;
    }
  }
}

.rbt-aux .rbt-close {
  margin-top: 0;
}
