name: Release
on:
  push:
    branches:
      - 6.4.x
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    name: CI
    uses: ./.github/workflows/6.4.x.yml

  docs:
    name: Documentation
    uses: ./.github/workflows/documentation.yml
    secrets: inherit

  deploy:
    name: Deploy release
    runs-on: ubuntu-latest
    needs: [ci, docs]
    steps:
      - name: Check out project
        uses: actions/checkout@v4
        with:
          # Fetch all history for all branches and tags, which is needed for the release script.
          fetch-depth: 0
          # Pass in an administrator token to get around branch protection.
          token: ${{ secrets.GH_TOKEN_REDALLEN }}

      - name: Set up and build project
        uses: ./.github/actions/setup-project
        with:
          skip-build-cache: true

      - name: Deploy to NPM and Github
        run: .github/release.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_PR_TOKEN: ${{ secrets.GH_PR_TOKEN }}
          